{% extends 'layout.html.twig' %}
{% block title %} {{ what }} à {{ where }} {% endblock %}
{% block description %}Trouver un {{ what }} à {{ where }} facilement {% endblock %}
{% block container %}

	<h1>{{ what }} à {{ where }}</h1>
	<div class="visible-xs">
		<p>
			<span class="btn btn-info to_list disabled">Afficher la liste</span>
			<span class="btn btn-info to_map">Afficher la carte</span>
		</p>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-7 profiles-list">
		{% for profile in profiles %}
			<div class="panel panel-default" id="profile-{{ profile.id }}">
				<div class="panel-body">
					<div class="profile-info">
						<div class="profile-avatar">
							<img src="{{ app.request.baseURL() }}/{{ profile_photos }}/{{ profile.photo ? profile.photo : 'default.png' }}" alt="{{ profile.fullName }}">
						</div>
						<div class="profile-name-container">
							<h2 class="profile-name" ><a href="{{ path('profile_show', {
								'slug': profile.slug,
								'district': profile.district.slug,
								'specialty': profile.specialty.slug,
								'province': profile.province.slug
							}) }}">{{ profile.fullName }}</a></h2>
							<h3 class="profile-spacialty" >{{ profile.specialty }}</h3>
							{{ profile.address }}, {{ profile.district }}, {{ profile.province }}
						</div>
					</div>
					<div>
						{% if profile.phone %}<span class="phone"><i class="glyphicon glyphicon-phone-alt"></i> {{ profile.phone }}</span>{% endif %}
						{% if profile.mobile %}<span class="phone"><i class="glyphicon glyphicon-earphone"></i> {{ profile.mobile }}</span>{% endif %}
						{% if profile.email %}<span class="phone"><i class="glyphicon glyphicon-envelope"></i> {{ profile.email }}</span>{% endif %}
					</div>
				</div>
			</div>
		{% else %}
			<div class="well">Aucun praticien trouvé </div>
		{% endfor %}

		{% if profiles.haveToPaginate %}
			{{ pagerfanta(
				profiles,
				'twitter_bootstrap3_translated'
			) }}
		{% endif %}
		</div>
		<div id="sidebar" class="col-xs-12 col-sm-5 hidden-xs">
			<div id="map"><i class="glyphicon glyphicon-info-sign"></i> Carte non disponible</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.0.3/stickyfill.js"></script>
	<script src="{{ asset('js/list.js') }}"></script>
	<script>
		$('.to_map').click(function() {
			$('.to_map').addClass('disabled');
			$('.to_list').removeClass('disabled');
			$('.profiles-list').addClass('hidden-xs');
			$('#sidebar').removeClass('hidden-xs');
		});

		$('.to_list').click(function() {
			$('.to_list').addClass('disabled');
			$('.to_map').removeClass('disabled');
			$('#sidebar').addClass('hidden-xs');
			$('.profiles-list').removeClass('hidden-xs');
		});
	</script>

	<script>
		Stickyfill.add($('#filter_form_container'));
		Stickyfill.add($('#sidebar'));
		var dataUrl = '{{ path('profiles_list_json', app.request.query.all|merge(app.request.attributes.get('_route_params')))|escape('js') }}';
		var baseUrl = '{{ app.request.baseUrl|escape('js') }}';
	</script>
	<script src="{{ asset('js/map.js') }}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_map_key }}&callback=initMap"></script>
{% endblock %}