{% extends 'layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block container %}
	<section>
		<header>
			<h1>{{ title }}</h1>
		</hedaer>
		<div>
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
			{{ form_start(contactForm) }}
			
			{{ form_end(contactForm) }}
		</div>
	<section>

{% endblock %}