{% extends 'base.html.twig' %}
{% block title %}{{ profile.name }}{% endblock %}
{% block body %}
<div class="container">
	<h1>{{ profile.name }}</h1>
	<p>{{ profile.specialty }}<p>

	<p>
		{{ profile.address }}, {{ profile.district }}, {{ profile.province }}
	</p>

	<p>
		{% for tag in profile.tags %}
			{{ tag }},
		{% endfor %}
	</p>

	{% include '@FOSComment/Thread/async.html.twig' with {'id': profile.id} %}

</div>
{% endblock %}